
# LIST

In [2]:

# list is a type of data structure that store multiple type of data like str,int float etc..
# list has [start,end,step] 

mylist=[1,3,4,34,5666] # list of integers

mylist

[1, 3, 4, 34, 5666]

In [3]:
mylist1=["ram",'om','sham'] # list of str
mylist1

['ram', 'om', 'sham']

In [4]:
mylist2=[22.4,44.5,6.0,3.5] # list of float
mylist2

[22.4, 44.5, 6.0, 3.5]

In [5]:
# nested list (it means list inside the list)
mylist3=[23,45,64,[25,90],56,[48,77]]
mylist3

[23, 45, 64, [25, 90], 56, [48, 77]]

In [11]:
# when we want to print a list we need to give what will be the start end and steps

l1=[23,55,67,66,20,40,50,60,888,990,1000,435,664,553,454]
l1

[23, 55, 67, 66, 20, 40, 50, 60, 888, 990, 1000, 435, 664, 553, 454]

In [12]:
l1[0:5]

[23, 55, 67, 66, 20]

In [14]:
l1[0:15:2]

[23, 67, 20, 50, 888, 1000, 664, 454]

In [15]:
l1[::-1]

[454, 553, 664, 435, 1000, 990, 888, 60, 50, 40, 20, 66, 67, 55, 23]

In [16]:
l1[14:0:-2] # starting number is greater than ending number while doing negative indexing

[454, 664, 1000, 888, 50, 20, 67]

# Add Operations on list

# 1.append

In [17]:
l1.append("ram") # the append function take exactly only one value and add it at the last of the list
l1

[23, 55, 67, 66, 20, 40, 50, 60, 888, 990, 1000, 435, 664, 553, 454, 'ram']

In [18]:
l1.append('ram',2) # it will not take more than one value
l1

TypeError: list.append() takes exactly one argument (2 given)

# 2. Insert

In [3]:
l2=[23,56,777,8877,4535,234,'ram']
l2.insert(2,'soham')# in this operation we need to give two values one is index value and element
l2

[23, 56, 'soham', 777, 8877, 4535, 234, 'ram']

# 3. extend

In [4]:
l2.extend([23,56,90,700])# it will add one by one  element at the last 
l2

[23, 56, 'soham', 777, 8877, 4535, 234, 'ram', 23, 56, 90, 700]

# Remove operation on list

# 1.pop

In [5]:
l2.pop()# default  it will remove last element from the list
l2

[23, 56, 'soham', 777, 8877, 4535, 234, 'ram', 23, 56, 90]

In [8]:
l2.pop(0) # it will remove given index value element from the list
l2

[56, 'soham', 777, 8877, 4535, 234, 'ram', 23, 56, 90]

# 2. remove

In [9]:
l2.remove('soham') #it will remove the given item from the list
l2

[56, 777, 8877, 4535, 234, 'ram', 23, 56, 90]

#  3. clear

In [10]:
l2.clear()# it will remove all the element from the list and it remain empty list as follows 
l2

[]

# 4. del

In [12]:
del l2 #it will delete my variable from the source
l2

NameError: name 'l2' is not defined

#  Joining of two list

In [13]:
l1=[2,3,54,6,7]
l2=['ram','sham','om']
l3=l1+l2
l3

[2, 3, 54, 6, 7, 'ram', 'sham', 'om']

In [15]:
# another method
l1.extend(['ram','sham','om','hari'])
l1

[2, 3, 54, 6, 7, 'ram', 'sham', 'om', 'hari']